//
// _custom-variables.scss
//


// LEFT SIDEBAR
$ap__leftbar-width: 240px;


// FOOTER
$ap__footer-color: var(--#{$variable-prefix}footer-color);
$ap__footer-bg: var(--#{$variable-prefix}footer-bg);
$ap__footer-link-hover-color: var(--#{$variable-prefix}footer-link-hover-color);